.gridBorders {
    border-color: blue;
    border-style: solid;
    border-width: 2px;
    border-spacing: 5px;
    background-color: blue;
}

.transparent {
    background-color: white;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.gridSize {
    width: 500px;
    height: 450px;
}